In [11]:
import pandas as pd

In [12]:
import pandas as pd

df = pd.read_csv("C:/Users/choi/Downloads/sample.csv", encoding='cp949')
df.iloc[:3, :3]

     상가업소번호        상호명  지점명
0  19956873     하나산부인과  NaN
1  20024149   타워광명내과의원  NaN
2  20152277  조정현신경외과의원  NaN

In [13]:
# 상가업소번호가 uniqe함. set으로 가져가기?
ids = df['상가업소번호']
print(len(ids), len(set(ids)))

91335 91335

In [14]:
# 중복 여부 확인
print(df['상가업소번호'].is_unique)   # True → 전부 unique

# 중복된 값만 뽑기
duplicates = df[df['상가업소번호'].duplicated()]
print(duplicates)

True
Empty DataFrame
Columns: [상가업소번호, 상호명, 지점명, 상권업종대분류코드, 상권업종대분류명, 상권업종중분류코드, 상권업종중분류명, 상권업종소분류코드, 상권업종소분류명, 표준산업분류코드, 표준산업분류명, 시도코드, 시도명, 시군구코드, 시군구명, 행정동코드, 행정동명, 법정동코드, 법정동명, 지번코드, 대지구분코드, 대지구분명, 지번본번지, 지번부번지, 지번주소, 도로명코드, 도로명, 건물본번지, 건물부번지, 건물관리번호, 건물명, 도로명주소, 구우편번호, 신우편번호, 동정보, 층정보, 호정보, 경도, 위도]
Index: []

[0 rows x 39 columns]

In [15]:
unique_ids = df['상가업소번호'].unique()   # numpy 배열
unique_ids_set = set(df['상가업소번호'])   # 파이썬 set